*{
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg') no-repeat;
    background-size: cover;

}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container button {
    margin: 5px;
    color: white;
}
.container button:hover {
    color: black;
}
.CL {
    background-color: black !important;
    overflow: hidden;
}
.NY {
    background-color: black !important;
}
.PA {
    background-color: black !important;
}